@import "./constant";
@import "./variables";


.btns{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -200px;
  margin-bottom: 40px;
  padding: 100px;
}
/* From Uiverse.io by Allyhere */ 
.btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  // min-width: 120px;
  // min-height: 44px;
  font-size: 2rem;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow:
    0px 0px 20px rgba(71, 184, 255, 0.5),
    0px 5px 5px -1px rgba(58, 125, 233, 0.25),
    inset 4px 4px 8px rgba(175, 230, 255, 0.5),
    inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.btn-donate:hover {
  background-position: right top;
}

.btn-donate:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow:
    0 0 0 3px var(--btn-bg-color),
    0 0 0 6px var(--btn-bg-2);
}
.certi{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9vh;
}
.certi img{
  height: 50vh;
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);

}
.txt h1{
  text-align: center;
  margin-bottom:3rem;
  font-size: 4rem;
  background: linear-gradient(to right, #7619b8,
                    #fa3b5b);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            font-weight: 600;
}

@media (prefers-reduced-motion: reduce) {
  .btn-donate {
    transition: linear;
  }
}

.app__distribution {
  padding: 40% $md-gap 10% $md-gap;

  .distribution__container {
    @include flexAlign;

    .left__distribution {
      flex: 1;
      @include flexDirection;
      gap: $lg-gap;

      .distribution__text {
        @include flexDirection;
        gap: $lg-gap;

        h1 {
          font-size: 4rem;
          color: $primary-color;
        }

        p {
          font-size: 1.3rem;
          color: $neutral-color;
        }
      }

      .distribution__buttons {
        @include flexAlign;
        gap: $lg-gap;

        button {
          @include button;
          background: $primary-color;
          color: $secondary-color;
          gap: $sm-gap;
          @include flexAlign;
        }
      }
    }

    .right__distribution {
      flex: 1;
      @include flexAlign;
      justify-content: flex-end;
    }
  }
}

// Media Queries for Responsiveness
@media (max-width: 480px) {
  // Mobile Portrait
  .app__distribution {
    padding: 150% $sm-gap 5% $sm-gap;

    .distribution__container {
      @include flexDirection;
      flex-direction: column;
      gap: $sm-gap;

      .left__distribution {
        @include flexDirection;
        gap: $sm-gap;

        .distribution__text {
          @include flexDirection;
          gap: $sm-gap;

          h1 {
            font-size: 2rem;
          }

          p {
            font-size: 1rem;
          }
        }

        .distribution__buttons {
          @include flexDirection;
          gap: $sm-gap;

          button {
            @include button;
            width: 100%;
            font-size: 0.9rem;
          }
        }
      }

      .right__distribution {
        @include flexAlign;
        justify-content: center;
        width: 50px;
        .img {
          width: 50%;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  // Mobile Landscape
  .app__distribution {
    padding: 35% $sm-gap 8% $sm-gap;

    .distribution__container {
      @include flexDirection;
      flex-direction: column;
      gap: $md-gap;

      .left__distribution {
        @include flexDirection;
        gap: $md-gap;

        .distribution__text {
          @include flexDirection;
          gap: $md-gap;

          h1 {
            font-size: 2.5rem;
          }

          p {
            font-size: 1.1rem;
          }
        }

        .distribution__buttons {
          @include flexDirection;
          gap: $md-gap;

          button {
            @include button;
            width: 100%;
            font-size: 1rem;
          }
        }
      }

      .right__distribution {
        @include flexAlign;
        justify-content: center;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  // Tablet
  .app__distribution {
    padding: 30% $md-gap 7% $md-gap;

    .distribution__container {
      @include flexDirection;
      flex-direction: row;
      gap: $lg-gap;

      .left__distribution {
        @include flexDirection;
        gap: $lg-gap;

        .distribution__text {
          @include flexDirection;
          gap: $lg-gap;

          h1 {
            font-size: 3rem;
          }

          p {
            font-size: 1.2rem;
          }
        }

        .distribution__buttons {
          @include flexDirection;
          gap: $lg-gap;

          button {
            @include button;
            width: auto;
            font-size: 1.1rem;
          }
        }
      }

      .right__distribution {
        @include flexAlign;
        justify-content: flex-end;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  // Small Desktops
  .app__distribution {
    padding: 35% $md-gap 10% $md-gap;

    .distribution__container {
      @include flexDirection;
      flex-direction: row;
      gap: $lg-gap;

      .left__distribution {
        @include flexDirection;
        gap: $lg-gap;

        .distribution__text {
          @include flexDirection;
          gap: $lg-gap;

          h1 {
            font-size: 3.5rem;
          }

          p {
            font-size: 1.3rem;
          }
        }

        .distribution__buttons {
          @include flexDirection;
          gap: $lg-gap;

          button {
            @include button;
            width: auto;
            font-size: 1.2rem;
          }
        }
      }

      .right__distribution {
        @include flexAlign;
        justify-content: flex-end;
      }
    }
  }
}

@media (min-width: 1441px) {
  // Large Desktops
  .app__distribution {
    padding: 40% $md-gap 10% $md-gap;

    .distribution__container {
      @include flexDirection;
      flex-direction: row;
      gap: $lg-gap;

      .left__distribution {
        @include flexDirection;
        gap: $lg-gap;

        .distribution__text {
          @include flexDirection;
          gap: $lg-gap;

          h1 {
            font-size: 4rem;
          }

          p {
            font-size: 1.3rem;
          }
        }

        .distribution__buttons {
          @include flexDirection;
          gap: $lg-gap;

          button {
            @include button;
            width: auto;
            font-size: 1.3rem;
          }
        }
      }

      .right__distribution {
        @include flexAlign;
        justify-content: flex-end;
      }
    }
  }
}
