@import "./constant";
@import "./variables";

.bg-ht{
    height: 100vh;
}

.app__home1 {
    
    padding: $ex-gap $md-gap;
    @include flexDirection;
    gap: 3rem;
  
    .home__text {
      text-align: left;
      
      h1 {
        @include textGradient;
        font-size: 5rem;
        line-height: 5.5rem;
      }
      h3{
        font-weight: lighter;
        margin: 2.5rem 0.5rem;
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  .top-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -10vh;
  }
  .container{
    width: 30vw;
    height: 50vh;
    color: white;
    text-align: center;
    border-radius: 15px;
    margin-top: 80px;
  }
  .right{
    margin-top: -40px;
  }
  .Left{
    margin-top: 100px;
  }
  .right img{
    width: 300px;
    margin-left: 10vw;
  }
    .ticks__container {
      @include flexCenter;
      color: $secondary-color;
      gap: $lg-gap;
  
      p {
        @include flexAlign;
        gap: $t-gap;
        color: $neutral-color;
  
        span {
          @include flexCenter;
          height: 20px;
          width: 20px;
          background: $secondary-color;
          border-radius: 5px;
          color: $primary-color;
        }
      }
    }
  
    .input__container {
      @include inputContainer;
  
      button {
        background: $secondary-color;
      }
    }
  }
  